<div class="container mt-4 pt-5">
    <div class="bg-main-light p-5 rounded-4">
        <h1 class="text-center my-4">Log in</h1>

        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            
            <label for="email">E-mail :</label>
            <input type="email" id="email" name="email" class="form-control my-2" formControlName='email'>

        <!-- e-mail validation alert -->

        <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
            <p *ngIf="loginForm.get('email')?.getError('required')">E-mail is Required</p>
           
        </div>
        
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" class="form-control my-2" formControlName='password'>

        <!-- password validation alert -->

        <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
            <p *ngIf="loginForm.get('password')?.getError('required')">Password is Required</p>
        </div>
    
    <div class="mt-3 d-flex align-items-center">
        <button [disabled]="loginForm.invalid" class="btn-main "> <span>Log in</span> <i class="fas fa-spinner fa-spin ms-2" *ngIf="isLoading"></i></button>
        <div class="ms-auto d-flex flex-column">
            <a routerLink="/register" class="text-main">Don't Have an Account? Signup Here.</a>
            <a routerLink="/forgot" class="text-main">Forgot Your Password ?</a>

        </div>
    </div>
        
        <p class="alert alert-danger text-center mt-3" *ngIf="errorMsg">{{errorMsg}}</p>

        </form>
    </div>
   
</div>
