<section class="w-75 mx-auto bg-main-light rounded-3 my-4 p-3">
    <h1>Your Orders :</h1>
    <div class="row border-bottom py-2 align-items-center" *ngFor="let order of orders">
      <div class="col-md-2">

        <!-- image of the first item in every order -->

        <img [src]="order.cartItems[0].product.imageCover" alt="" class="w-100">
      </div>
      <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center">
          <!-- order details -->
          <div>
            <h3 class="h5">Order ID : {{order._id}}</h3>
            <p class="text-main mt-3">Total Price : {{order.totalOrderPrice}} EGP</p>
            <p class="text-main">Payment Method : {{order.paymentMethodType | titlecase}}</p>
            <button class="btn-main" [routerLink]="['/orderdetails' , userId, order._id]"> View Order</button>
        </div>
      </div>
      </div>
    </div>

    <button class="btn-main mt-3" [routerLink]="['/home']">Return Home</button>

</section>