<section class="w-75 mx-auto bg-main-light rounded-3 my-2 p-3">
    <h1 class="h2">Order ID : {{order._id}}</h1>

    
    
    <div class="row border-bottom py-2 align-items-center" *ngFor="let item of order.cartItems">
      <div class="col-md-2">
        <img [src]="item.product.imageCover" alt="" class="w-100">
      </div>
      <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center">
          <!-- Order details -->
          <div>
            <h3 class="h5">{{item.product.title}}</h3>
            <p class="text-main mt-3">{{item.price}} EGP</p>
            <p class="text-main"> Total Price: {{(item.price)*(item.count)}} EGP</p>
        </div>
        
      </div>
      </div>
    </div>

    <h3 class="h4 mt-3">Shipping Address :</h3>
    <p class=" mb-3">{{order.shippingAddress.details}}</p>
    <p class="text-main">Total Order Price : {{order.totalOrderPrice}} EGP</p>
    <p class="text-main">Payment Method : {{order.paymentMethodType |titlecase}}</p>
    
    <p class="text-main">Shipping Price : {{order.shippingPrice}}</p>

    <button class="btn-main mt-3" [routerLink]="['/allorders']">Return to Orders</button>

</section>