<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/IMG/freshcart-logo.svg" alt="Fresh cart Logo">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-between align-items-center">

            <li class="mx-2">
                <i class="fa-brands fa-instagram"></i>
              </li>
              <li class="mx-2">
                <i class="fa-brands fa-facebook"></i>
              </li>
              <li class="mx-2">
                <i class="fa-brands fa-tiktok"></i>
              </li>
              <li class="mx-2">
                <i class="fa-brands fa-twitter"></i>
              </li>
              <li class="mx-2">
                <i class="fa-brands fa-linkedin"></i>
              </li>
              <li class="mx-2">
                <i class="fa-brands fa-youtube"></i>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link" routerLink="login">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link" routerLink="register">Register</a>
              </li>
          
          </ul>
      </div>
    </div>
  </nav>